/*Fonts*/
@font-face {
  font-family: "Inter";
  font-style: normal; 
  font-weight: 400; 
  src: url("Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal; 
  font-weight: 700; 
  src: url("Inter-Bold.ttf") format("truetype");
}
/*Normalize*/
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.main {
  display: block;
}
.page {
  margin: 0;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
/*Header*/
.header__wrapper {
  padding: 100px 80px 0;
}
.header__sub-text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 19px;
  margin: 0;
  opacity: 0.3;
  text-transform: uppercase;
}
.header__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
  margin: 19px 0 0;
}
.header__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 16px 0 0;
  max-width: 500px;
}
.cards {
  display: flex;
  margin-top: 66px;
}
.cards__item {
  background: linear-gradient(246.56deg, #FAF0F3 0%, #E2EAFE 100%);
  border-radius: 4px;
  margin-right: 18px;
  padding: 25px 20px 51px;
  width: 415px;
}
.cards__item:last-of-type {
  margin-right: 0;
}
.cards__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 33px 0 0;
}
.cards__text {
  font-size: 14px;
  line-height: 24px;
  margin: 15px 0 0;
  max-width: 295px;
}
/*Form*/
.form__wrapper {
  padding: 150px 80px 144px;
}
.form__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin: 0 0 59px;
}
.form__item {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0;
}
.form__sub-item {
  align-items: center;
  display: flex;
}
.form__label {
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 8px;
}
.form__input {
  background: #E8E8E8;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 33px;
  padding: 10px;
  width: 360px;
}
.form__input--width-short {
  width: 70px;
}
.form__sub-text {
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 0 20px;
}
.form__button {
  background: linear-gradient(90deg, #C9FFBF 0%, #FFAFBD 100%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  margin: 40px 0 0;
  outline: none;
  padding: 16px 40px;
}