* {
  box-sizing: border-box;
}
.page {
  display: flex;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 50px;
}
.day {
  border: 1px solid #DDD;
  display: flex;
  padding: 10px;
  position: relative;
}
.day__text {
  margin: 0;
  width: 190px;
}
.day__current {
  visibility: hidden;
  padding: 10px;
}
.day__button {
  margin-left: 30px;
}
.day__group {
  border: 1px solid #DDD;
  background-color: #FFF;
  display: none;
  position: fixed;
  padding: 10px;
}
.day__group--visible {
  display: block;
}