/*Normalize*/
/*
28px
24px
21px
*/
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.main {
  display: block;
}
.page {
  margin: 0;
  height: 200vh;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
  padding: 0 15px;
}

/*Header*/
.header {
  background-color: #dcdcdc;
}
.menu {
  background-color: #2E2E2E;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.menu__logo {
  background-image: url("../images/logo-red.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 72px;
  padding: 25px 46px;
}
.menu__popup {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  transition-duration: 300ms;
  transition-property: background-color, visibility;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  visibility: hidden;
}
.menu__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu__item {
  padding: 0;
}
.menu__link {
  color: #FFF;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 10px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color ease-in-out 0.3s;
  white-space: nowrap;
}
.menu__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.menu__button {
  display: none;
}
.header__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 150px 15px;
}
.header__logo {
  /* outline: 1px solid black; */
  
  background-image: url("../images/logo-red.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70px;
  width: 200px;
}
.header__title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 28px;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
}
.header__button {
  background-color: #C92021;
  color: rgba(255, 255, 255, 0.85);
  font-size: 13px;
  font-weight: 600;
  margin: 50px 0 0 0;
  padding: 14px 40px;
  text-transform: uppercase;
  transition: background-color, color, ease-in-out 0.3s;
}
.header__button:hover {
  background-color: #E92021;
  color: #FFF;
}
.header__button:active {
  background-color: #A52021;
  color: #FFF;
}

@media (max-width: 1366px) {
  .header__logo {
    height: 65px;
    width: 175px;
  }
  .header__title {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .menu__popup--visible {
    background-color: rgba(0,0,0,.6);
    visibility: visible;
  }
  .menu__list {
    align-items: flex-end;
    background-color: #FFF;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0px;
    transform: translateX(100%);
  }
  .menu__list--shown {
    transform: translateX(0%);
  }
  .menu__link {
    color: #000;
    min-width: 160px;
    text-align: center;
  }
  .menu__link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .menu__button {
    align-self: center;
    display: block;
    height: 50px;
    padding: 0 10px;
  }
  .menu__button--activated {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .menu__button-line {
    background-color: #FFF;
    display: block;
    height: 3px;
    transition: all ease-in-out 0.3s;
    width: 30px;
  }
  .menu__button.menu__button--activated .menu__button-line--hiden {
    transition: all ease-in-out 0.05s;
  }
  .menu .menu__button .menu__button-line:first-child {
    transform: translateY(-6px);
  }
  .menu .menu__button .menu__button-line--hiden {
    transform: translateY(-1px);
  }
  .menu .menu__button .menu__button-line:last-child {
    transform: translateY(4px);
  }
  .menu .menu__button.menu__button--activated .menu__button-line:first-child {
    transform: translateY(2px) rotate(45deg);
  }
  .menu .menu__button.menu__button--activated .menu__button-line--hiden {
    background-color: transparent;
  }
  .menu .menu__button.menu__button--activated .menu__button-line:last-child {
    transform: translateY(-4px) rotate(-45deg);
  }
  .header__wrapper {
    padding: 100px 15px;
  }
  .header__logo {
    height: 50px;
    width: 150px;
  }
  .header__title {
    font-size: 21px;
  }
}
@media (max-width: 425px) {
  .header__logo {
    height: 45px;
    width: 130px;
  }
  .header__button {
    width: 100%;
  }
}
