/*Normalize*/
/*FF6A3E*/
/*background: rgba(9, 8, 5, 0.6);*/
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.main {
  display: block;
}
.page {
  margin: 0;
  height: 200vh;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
  padding: 0 15px;
}

/*Header*/
/* .header {
  background-image: url("../images/header-background.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 50vh;
}
.header__background {
  background: rgba(9, 8, 5, 0.6);
  height: 100%;
  width: 100%;
} */
.menu {
  background-color: #2E2E2E;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
}
.menu__button {
  display: none;
}
.menu__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu__list .logo {
  background-image: url("../images/logo-orange.svg");
  background-position: center left 10px;
  background-repeat: no-repeat;
  background-size: 34px;
  color: #FF6A3E;
  padding: 16px 10px 17px 55px;
}
.menu__wrapper .phone {
  background-image: url("../images/phone-white.svg");
  background-position: center left 10px;
  background-repeat: no-repeat;
  background-size: 16px;
  padding: 16px 10px 17px 32px;
}
.menu__item {
  padding: 0;
}
.menu__link {
  color: #FFF;
  display: block;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 16px 10px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
  white-space: nowrap;
}
.menu__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}