@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.glyphicon-earphone:before {
	content: "\e182"
}

.glyphicon-time:before {
	content: "\e023";
}

body {
	font-family: 'Open Sans', sans-serif;
}

a,
.navbar-light .navbar-nav .nav-link {
	color: #f58d35;
	transition: color .15s ease-in-out;
}

a:hover {
	text-decoration: none;
}

a.carousel-control-prev,
a.carousel-control-next {
	border-bottom: 0;
}

.jumbotron {
	border-radius: 0;
	margin-bottom: 0;
}

h2 {
	line-height: 1.2;
	font-size: 2rem;
}

.lead {
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

#how-we-work h4 {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

#how-we-work img {
	margin-bottom: 25px;
}

#first-screen {
	margin-top: 20px;
	min-height: 400px;
	background: transparent;
	padding: 3rem 0 5rem;
}

#first-screen h1,
#first-screen h1 span {
	color: #fff;
	font-size: 2rem;
}

#first-screen h1 span {
	font-weight: 300;
	line-height: 1.4;
	display: block;
	margin-bottom: 30px;
}

#first-screen h1 {
	margin-top: 50px;
}

.phone-number a {
	color: #ffc107;
}

#first-screen img {
	margin-bottom: 20px;
}

.header-contacts p {
	margin-bottom: 0;
}

.navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font: 600 0.8rem/1.31 'Montserrat', sans-serif;
	transition: color .15s ease-in-out;
}

.nav-link {
	padding: 0 1rem 0 0;
}

nav span,
nav span a {
	color: #fff;
}

a.nav-link:hover {
	color: #e0a800;
}

#first-screen img {
	padding-right: 5px;
	vertical-align: top;
}

.btn-transp {
	border-radius: 5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 600;
}

.btn {
	padding: .5rem 1.5rem .3rem;
	font-family: 'Montserrat', sans-serif;
}

.btn-lg {
	padding: .9rem 2.2rem .8rem;
}

.btn-cta {
	background: #f58d35;
	color: #fff;
}

section {
	margin-top: 80px;
}

#service img {
	padding-bottom: 5px;
}

/* #brands {
	margin-top: -35px;
} */

#brands .icon {
	display: inline-block;
	width: 8em;
	height: 8em;
	stroke-width: 0;
	stroke: currentColor;
	fill: #000;
}

#brands .icon-amana {
	fill: #bc323c;
}

#brands .icon-samsung {
	fill: #143c9e;
}

#brands .icon-magic,
#brands .icon-frigidaire,
#brands .icon-kitchen-aid {
	width: 11em;
}

#brands .icon-admiral,
#brands .icon-samsung,
#brands .icon-thermador {
	width: 9em;
}

#brands .icon-jenn {
	width: 10em;
}

#brands .icon-ge {
	width: 5em;
}

#brands .icon-s-q {
	width: 12em;
}

#brands .icon-lg {
	width: 7em;
}

#customers-reviews img {
	padding: 0;
}

span.star {
	background: #bc2724;
	color: white;
	width: 25px;
	height: 25px;
	padding: 0 0 0 1px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	margin-right: 3px;
}

#jumbotron-form button {
	margin-left: 26.5%;
}

#honeypot,
#success-message {
	display: none;
}

.carousel-control-next,
.carousel-control-prev {
	width: 8%;
}

.carousel-control-prev {
	left: -9%;
}

.carousel-control-next {
	right: -8%;
}

.map-content {
	z-index: 10;
	position: relative;
	top: -159px;
	left: 10px;
	line-height: 1.3;
	text-align: center;
	font-size: 1.5rem;
	background-color: white;
	width: 285px;
	padding: 1.3rem 2rem 0.8rem;
	color: #000;
	box-shadow: rgba(0, 0, 0, .3) 0 1px 3px -1px;
	border-radius: 5px;
}

footer {
	padding: 40px 0 50px;
}

footer a,
footer a:hover {
	border-bottom: 0;
}

footer img {
	padding: 0 5px;
}

a.yelp-link {
	color: #df3e4e;
}

.form-control {
	color: #000;
}

.form-control::placeholder {
	color: #b0b0b0;
}

.form-control:focus {
	border-color: #ffaf80;
	box-shadow: 0 0 0 .2rem rgba(255, 118, 0, .25);
}


@media (max-width: 767.98px) {
	.logo {
		margin-bottom: 20px;
	}

	.header-contacts button {
		margin-bottom: 20px;
	}

	.header-contacts-phone {
		padding-left: 0;
	}

	#first-screen h1,
	#first-screen h1 span {
		font-size: 1.7rem;
	}

	#first-screen {
		padding: 4rem 0 3rem;
		min-height: 0;
	}

	/* #first-screen .container {
		
	} */

	#first-screen h1 {
		margin-top: 0;
		line-height: 1.4;
		margin-bottom: 25px;
	}

	#first-screen h1 span {
		display: inline;
		font-weight: 600;
	}

	.btn-outline-danger {
		color: #bc2724;
		border-color: #bc2724;
		font-family: 'Open Sans', sans-serif;
	}

	.navbar-dark .navbar-toggler {
		color: #fff;
		border-color: #fff;
		margin-bottom: 20px;
	}

	section {
		margin-top: 50px;
	}

	.how-item {
		margin-bottom: 50px;
	}

	#brands .icon {
		width: 8em;
		height: 6em;
	}

	#brands .icon-ge {
		width: 4em;
	}

	#brands .icon-lg,
	#brands .icon-maytag,
	#brands .icon-sears {
		width: 6em;
	}

	.lead {
		margin-bottom: 20px;
	}

	.reviews-item {
		margin-bottom: 20px;
	}

	#jumbotron-form button {
		margin-left: 0;
	}

	footer .text-right,
	footer .text-center {
		text-align: initial !important;
	}

	footer .d-sm-none p {
		margin-bottom: 0.4rem;
	}

}
@media (min-width: 1200px) {
	.reviews-yelp {
		margin-top: -11px;
	}
}
@media (min-width: 576px) {
	.btn-lg {
		font-size: 18px;
		padding: .9rem 2.2rem .6rem;
	}
}

/* ************************************************************************************************ */
/*Normalize*/
* {
  box-sizing: border-box;
}
.link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.main {
  display: block;
}
.page {
  margin: 0;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}
/*Header*/
.menu__wrapper {
  padding: 24px 15px 0;
}
.menu__section {
  display: flex;
  justify-content: space-between;
}
.menu__logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 36px 95px;
}
.menu__review-link {
  display: none;
}
.menu__sub-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.menu__phone {
  margin: 0 10px 0 0;
}
.menu__phone .menu__title {
  background-image: url("../img/phone-grey.svg");
  padding-left: 20px;
}
.menu__time .menu__title {
  background-image: url("../img/clock-grey.svg");
  padding-left: 20px;
}
.menu__title {
  background-repeat: no-repeat;
  background-size: 16x;
  background-position: center left;
  color: #212529;
	font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.menu__info-link {
  color: #F58D35;
	font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  transition: color, background-color 0.2s ease-in-out;
}
.menu__info-link:hover {
  color: #007BFF;
}
.menu__review .menu__info-link {
  background-image: url("../img/yelp-red.svg");
  background-position: right -2px;
  background-repeat: no-repeat;
  background-size: 50px 24px;
  padding-right: 55px;
}
.menu__text {
  color: #212529;
	font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.menu__section:last-of-type {
  justify-content: center;
	margin-top: 15px;
}
.menu__list {
  display: block;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu__link {
  color: #F58D35;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
	white-space: nowrap;
}
.menu__link:hover {
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  .menu__review {
    display: none;
  }
  .menu__sub-wrapper {
    justify-content: flex-end;
  }
	.menu__list {
		justify-content: space-between;
		width: 100%;
	}
}
@media (max-width: 525px) {
  .menu__section:first-of-type {
    flex-direction: column;
  }
  .menu__sub-wrapper {
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
  }
  .menu__phone {
    margin: 0px;
  }
  .menu__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu__logo {
    padding: 22px 58px;
  }
  .menu__info-link {
    transition: none;
  }
  .menu__review-link {
    background-image: url("../img/yelp-red.svg");
    background-position: 100px 7px;
    background-repeat: no-repeat;
    background-size: 50px 24px;
    border: 1px solid #BC2724;
    border-radius: 5px;
    color: #BC2724;
    display: block;
    padding: 9px 65px 9px 10px;
  }
  .menu__review-link:hover {
    background-color: #BC2724;
    background-image: url("../img/yelp-white.svg");
    color: #FFF;
  }
  .menu__review {
    display: none;
  }

  .menu__link {
    text-align: center;
    padding: 10px 0px;
  }
}
@media (max-width: 359px) {
	.menu__link {
		white-space: normal;
		padding: 10px 5px;
  }
}

/*Covid*/
.covid {
	background: linear-gradient(0deg, #52AD76, #52AD76), linear-gradient(258.83deg, #2C5F4E 0%, #3B8372 100%);
	background-blend-mode: saturation, normal;
}
.covid__bg {
	background-image: url("../img/covid-bg.svg");
}
.covid__wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 80px 15px 136px;
}
.covid__title {
	color: #FFF;
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 39px;
	text-align: center;
}
.covid__main-text {
	color: #FFF;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	line-height: 150%;
	margin: 20px 0 0;
	max-width: 720px;
	text-align: center;
	white-space: normal;
}
.covid__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 27px 0 0;
	max-width: 850px;
}
.covid__text {
	color: #FFF;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin: 36px 0 0;
	text-align: center;
	white-space: nowrap;

	background-image: url("../img/check-light.svg");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 42px;
}
@media (max-width: 425px) {
	.covid__text {
		background-position: left -3px;
		text-align: left;
		white-space: normal;
  }
}

/*Reviews*/
.reviews__wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 80px 15px 100px;
}
.reviews__title {
	color: #000;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	margin: 0;
	text-align: center;
}
.reviews__text {
	color: #000000;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	margin: 15px 0 0;
	max-width: 700px;
	text-align: center;

}
.reviews__sub-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}
.comment {
	margin-top: 50px;
	max-width: 500px;
}
.comment--long {
	max-width: 590px;
}
.comment--small {
	max-width: 400px;
}
.comment__text {
	color: #000000;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
}
.comment__user {
	color: #000000;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding-left: 46px;
}
.user-01 {
	background-image: url("../img/user-1.png");
	background-repeat: no-repeat;
}
.user-02 {
	background-image: url("../img/user-2.png");
	background-repeat: no-repeat;
}
.user-03 {
	background-image: url("../img/user-3.png");
	background-repeat: no-repeat;
}
.user-04 {
	background-image: url("../img/user-4.png");
	background-repeat: no-repeat;
}
.user-05 {
	background-image: url("../img/user-5.png");
	background-repeat: no-repeat;
}
.user-06 {
	background-image: url("../img/user-6.png");
	background-repeat: no-repeat;
}
.comment--small .comment__text {
	font-size: 24px;
	line-height: 36px;
	white-space: pre-line;
}
.comment__wrapper {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.comment__stars {
	background-image: url("../img/stars-5.svg");
	background-repeat: no-repeat;
	background-position: center;
	padding: 8px 48px;

}
.comment__stars--small {
	background-image: url("../img/stars-4.svg");
}

@media (max-width: 1050px) {
	.reviews__sub-wrapper {
		justify-content: center;
	}
	.comment {
		margin-top: 50px;
		max-width: 500px;
	}
	.comment--long {
		max-width: 500px;
	}
	.comment--small {
		max-width: 500px;
	}
}
@media (max-width: 425px) {
	.comment--small .comment__text {
		white-space: normal;
	}
}