/*Normalize*/
html {
    box-sizing: border-box;
    line-height: 1.25;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
main {
    display: block;
}
* {
    box-sizing: inherit;
}

/*Header*/
.header {
    background-image: url(../images/header-background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    line-height: 1.25;
    padding: 150px 120px 120px;
}
.header__inner-wrapper {
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #777;
    display: flex;
    height: 64px;
    justify-content: space-between;
    left: 0;
    padding: 0 120px;
    position: fixed;
    right: 0;
    top: 0;
    /* transition: background-color 0.3s; */
    z-index: 1;
}
.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}
.header__menu-button {
    display: none;
}
.header__line {
    background-color: #FFF;
    display: block;
    height: 3px;
    margin: 5px 0 5px;
    transition: 0.3s;
    width: 30px;
}
.header__menu-button--active .header__line--position-top {
    transform: rotate(-45deg) translate(-5.8px, 5.5px);
}
.header__menu-button--active .header__line--position-middle {
    opacity: 0;
}
.header__menu-button--active .header__line--position-bottom {
    transform: rotate(45deg) translate(-5.8px, -5.5px);
}
.menu__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__item {
    align-items: center;
    display: flex;
    margin-right: 25px;
    text-transform: uppercase;
}
.menu__item:last-of-type {
    margin-right: 0px;
}
.menu__link {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap;
}
.menu__link:hover {
    opacity: 1;
}
.header__link {
    background: url("../images/phone-white.svg") left center no-repeat;
    background-size: 14px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.6;
    padding: 0px;
    padding-left: 20px;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap;
}
.header__link:hover {
    opacity: 1;
}

.header__title {
    background-image: url("../images/logo-white.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 140px 140px;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    max-width: 590px;
    padding-left: 160px;
}
.header__text {
    font-size: 33px;
    font-weight: 300;
    margin: 50px 0;
    max-width: 600px;
}
.header__button {
    background-color: #ED2F2F;
    border-radius: 8px;
    color: #FFF;
    font-size: 16pt;
    margin: 10px 0;
    padding: 14px 30px;
    transition: 0.3s;
}
.header__button:hover {
    background-color: #FE3F3F;
}
.header__button:active {
    background-color: #DC1E1E;
}

@media only screen and (max-width: 1366px) {
    .header {
        padding: 130px 60px 100px;
    }
    .header__inner-wrapper {
        padding: 0 60px;
    }
}
@media only screen and (max-width: 1024px) {
    .header {
        padding: 110px 40px 80px;
    }
    .header__inner-wrapper {
        padding: 0 40px;
    }
    .menu__item {
        margin-right: 12px;
    }
}
@media only screen and (max-width: 768px) {
    .header {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 110px 20px 80px;
        position: relative;
    }
    .header__inner-wrapper {
        padding: 0 20px;
        
    }
    .header__inner-wrapper {
        background-color: #333;
    }
    .header__inner-wrapper:hover .menu {
        transition: 0.3s;
    }
    .header__menu-button {
        display: block;
    }
    .menu {
        background-color: #555;
        left: 0;
        height: 100%;
        position: fixed;
        top: 64px;
        transform: translateX(-100%);
        width: auto;
    }
    .header__menu--active {
        transform: translateX(0%);
    }
    .menu__list {
        flex-direction: column;
        padding: 20px;
    }
    .menu__item {
        border-bottom: 1px solid #AAA;
        height: 64px;
        margin-right: 0;
    }
    .menu__item:last-of-type {
        border-bottom: none;
    }
    .menu__link {
        opacity: 1;
    }
    .header__link {
        opacity: 1;
    }
    .header__title {
        background-image: url("../images/logo-white.svg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 140px 140px;
        font-size: 50px;
        font-weight: 700;
        margin: 0;
        max-width: 590px;
        padding: 150px 0 0;
        text-align: center;
    }
    .header__text {
        font-size: 23px;
        margin: 30px 0;
        text-align: center;
    }
}

/*Main*/
article {
    height: 800px;
}
.footer {
    height: 300px;
}

/*Popup*/
.popup {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: 0.3s;
    visibility: hidden;
    width: 100%;
}
.popup--active {
    opacity: 0;
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .popup--active {
        opacity: 0.37;
        visibility: visible;
    }
}