body {
    margin: 0;
}
.menu {
    background-color: rgb(26, 164, 255);
    box-shadow: 0 0 6px 6px rgb(226, 226, 226);
}
.menu__item, .menu__sub-item {
    display: inline-block;
}
.menu__list {
    position: relative;
}
.menu__sub-list {
    background-color: rgb(238, 238, 238);
    box-shadow: 0 6px 6px rgb(212, 212, 212);
    display: none;
    left: 0;
    list-style: none;
    position: absolute;
    width: 100%;
}
.menu__item:hover .menu__sub-list {
    display: block;
}
.menu__link {
    color: white;
    font-family: 'Economica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 15px;
    transition: .5s;
}
.menu__link:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(160, 160, 160);
}
.menu__sub-link {
    color: rgb(160, 160, 160);
    font-family: 'Economica', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 0px 10px;
    transition: .5s;
}
.menu__sub-link:hover {
    background-color: rgb(160, 160, 160);
    color: rgb(238, 238, 238);
}