/*Normalize*/
html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    max-width: 2000px;
}

/*Header*/
.header {
    background: url(../img/background.png) top center no-repeat;
    background-size: 100% 100%;
    padding: 5px 138px 0;
    position: relative;
}
.header__text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.3em;
    line-height: 11px;
    margin: 0 0 32px;
    opacity: 0.2;
    z-index: 2;
}
.header__logo {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    margin: 0 0 52px;
    z-index: 2;
}
.header__logo--color-green {
    color: #5BBA47;
}
.header__title {
    color: #FFF;
    font-family: "Vollkorn", serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;
    margin: 0 0 18px;
    z-index: 2;
}
.header__text--size-m {
    border-top: 11px solid #DBAB00;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 23px;
    margin: 0 0 47px;
    max-width: 430px;
    opacity: 1;
    padding-top: 23px;
    z-index: 2;
}
.header__button {
    background: #A70B0B;
    border: none;
    box-shadow: 0px 0px 15px #DD9E23;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    height: 81px;
    line-height: 21px;
    margin: 0 0 100px;
    padding: 0;
    text-transform: uppercase;
    transition: 0.3s;
    width: 318px;
    z-index: 2;
}
.header__button:hover {
    background: rgb(206, 15, 15);
}
.header__button:active {
    background: rgb(117, 9, 9);
}
.header__image {
    bottom: 0;
    position: absolute;
    right: 37px;
    z-index: 0;
}
.header-popup {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    height: 101px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 535px;
    z-index: 2;
}
.header-popup__text {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    width: 260px;
}
@media screen and (max-width: 1110px) {
    .header__image {
        height: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .header {
        padding: 5px 100px 0;
        overflow: hidden;
    }
    .header__text--size-m {
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 37px;
        max-width: 380px;
    }
    .header__button {
        margin: 0 0 120px;
        font-size: 15px;
        height: 61px;
        line-height: 19px;
        width: 280px;
    }
    .header__image {
        height: 465px;
        right: -120px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 5px 75px 0;
    }
    .header__logo {
        margin: 0 0 32px;
    }
    .header__title {
        font-size: 30px;
        line-height: 40px;
    }
    .header__image {
        height: 365px;
        right: -90px;
    }
    .header-popup {
        padding-left: 20px;
        width: 60%;
    }
}
@media screen and (max-width: 640px) {
    .header {
        padding: 5px 50px 0;
    }
    .header__text {
        margin: 0 0 22px;
    }
    .header__title {
        font-size: 30px;
        line-height: 40px;
    }
    .header__text--size-m {
        border-top: 7px solid #DBAB00;
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 27px;
        max-width: 300px;
    }
    .header__button {
        margin: 0 0 100px;
        font-size: 14px;
        height: 50px;
        line-height: 18px;
        width: 250px;
    }
    .header__image {
        height: 365px;
        right: -90px;
    }
    .header-popup {
        height: 80px;
    }
    .header-popup__text {
        font-size: 10px;
        line-height: 12px;
    }
    .header-popup__image {
        height: 40px;
        width: 75px;
    }
}
@media screen and (max-width: 520px) {
    .header__text--size-m {
        max-width: 260px;
    }
    .header__button {
        width: 220px;
    }
}
@media screen and (max-width: 480px) {
    .header {
        padding: 5px 10px 0;
    }
    .header__logo {
        margin: 0 0 20px;
    }
    .header__text {
        margin: 0 0 15px;
    }
    .header__title {
        font-size: 20px;
        line-height: 25px;
    }
    .header__text--size-m {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 20px;
        max-width: 220px;
    }
    .header__button {
        margin: 0 0 150px;
        font-size: 12px;
        height: 35px;
        line-height: 14px;
        width: 220px;
    }
    .header__image {
        height: 340px;
    }
    .header-popup__text {
        font-size: 10px;
        line-height: 12px;
    }
    .header-popup__image {
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
        width: 70px;
    }
}
@media screen and (max-width: 400px) {
    .header__text--size-m {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px;
        max-width: 180px;
    }
    .header__button {
        width: 180px;
    }
}
@media screen and (max-width: 375px) {
    .header__text--size-m {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px;
        max-width: 150px;
    }
    .header__button {
        margin: 0 0 150px;
        font-size: 12px;
        height: 40px;
        line-height: 14px;
        width: 130px;
    }
}

/*Gratters*/
.gratters {
    padding: 0 138px;
}
.gratters__title {
    font-family: "Vollkorn", serif;
    font-size: 30px;
    line-height: 42px;
    margin: 23px 0 0;
    text-align: center;
}
.gratters__title--color-red {
    color: #A70B0B;
}
.crown {
    display: flex;
    justify-content: center;
    padding: 0 240px;
    max-width: 1170px;
}
.crown__line {
    border-bottom: 11px solid #DBAB00;
    content: "";
    height: 11px;
    margin-bottom: 11px;
    position: relative;
    width: 666px;
}
.crown__line::before {
    background: url(../img/head_left.png);
    content: "";
    height: 185px;
    position: absolute;
    left: -230px;
    top: -159px;
    width: 240px;
}
.crown__line::after {
    background: url(../img/head_right.png);
    content: "";
    height: 185px;
    position: absolute;
    right: -234px;
    top: -158px;
    width: 240px;
}
.crown__image {
    display: none;
}
.gratters__inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 39px 0 30px;
}
.gratters-about {
    margin-right: 40px;
    max-width: 570px;
}
.gratters-about__title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 20px;
}
.gratters-about__text {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    margin: 0 0 25px;
}
.gratters-about__text--color-red {
    color: #A70B0B;
}
.gratters-about__text--color-yellow {
    color: #DBAB00;
}
.gratters-about__text--background-color-yellow {
    font-weight: 500;
    background: rgba(242, 214, 116, 0.58);
    padding: 21px 53px 22px 60px;
}
.gratters-diploma {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 276px;
}
.gratters-diploma__diploma-image {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 197px;
    width: 276px;
}
.gratters-diploma__button {
    background: #A70B0B;
    box-shadow: 0px 0px 15px #DD9E23;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 16px 0 56px;
    padding: 23px 60px 28px 50px;
    text-decoration: none;
    transition: 0.3s;
}
.gratters-diploma__button:hover {
    background: rgb(206, 15, 15);
}
.gratters-diploma__button:active {
    background: rgb(117, 9, 9);
}
.gratters-diploma__supplement_image {
    align-self: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 158px;
    width: 234px;
}
.popup {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.9s;
    width: 100%;
    z-index: 3;
}
.popup__image {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    right: 0;
    top: 0;
}
.popup__button {
    background: #DD9E23;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.gratters-attention {
    border: 11px solid #DBAB00;
    margin: 0 auto 37px;
    max-width: 875px;
}
.gratters-attention__text {
    color: #A70B0B;
    font-family: "Vollkorn", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}
@media screen and (max-width: 1170px) {
    .gratters__title {
        margin: 23px auto 20px;
        max-width: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .gratters {
        padding: 0 100px;
    }
    .gratters-about {
        margin-right: 0;
    }
    .gratters__inner-wrapper {
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .gratters {
        padding: 0 75px;
    }
}
@media screen and (max-width: 640px) {
    .gratters {
        padding: 0 50px;
    }
    .gratters__title {
        font-size: 20px;
        line-height: 32px;
        margin: 23px auto 20px;
        max-width: 300px;
    }
    .crown {
        padding: 0;
        position: relative;
    }
    .crown__line {
        display: none;
    }
    .crown__line::before {
        display: none;
    }
    .crown__line::after {
        display: none;
    }
    .crown__image {
        display: block;
        position: absolute;
        top: -50px;
    }
    .gratters-about__title {
        font-size: 17px;
        line-height: 21px;
    }
    .gratters-about__text {
        font-size: 14px;
        line-height: 21px;
    }
    .gratters-about__text--background-color-yellow {
        padding: 11px 33px 12px 30px;
    }
}
@media screen and (max-width: 480px) {
    .gratters {
        padding: 0;
    }
    .gratters__title {
        padding: 0 10px;
    }
    .crown {
        padding: 0 10px;
    }
    .gratters__inner-wrapper {
        justify-content: flex-start;
    }
    .gratters-about__title {
        padding: 0 10px;
    }
    .gratters-about__text {
        padding: 0 10px;
    }
    .gratters-diploma {
        padding: 0 10px 15px;
    }
    .gratters-diploma__button {
        font-size: 14px;
        line-height: 17px;
        padding: 13px 40px 18px 30px;
    }
}

/*Owner*/
.owner {
    background: url(../img/background.png) top center no-repeat;
    background-size: 100% 100%;
    height: 648px;
    overflow: hidden;
    padding: 0 138px;
    position: relative;
}
.owner__title {
    border-bottom: 11px solid #DBAB00;
    color: #FFF;
    font-family: "Vollkorn", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
    max-width: 506px;
    margin: 0 auto 45px;
    padding: 45px 0 25px;
    text-align: center;
}
.owner__title-stars {
    color: #FFF;
    font-size: 10px;
    line-height: 13px;
    opacity: 0.5;
    text-align: center;
    vertical-align: top;
}
.owner__title--color-yellow {
    color: #FFE484;
    text-shadow: 0px 0px 50px #F1CE30;
}
.owner__text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    max-width: 390px;
}
.owner__image {
    bottom: 0;
    position: absolute;
    right: 21px;
}
@media screen and (max-width: 1170px) {
    .owner__image {
        height: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .owner {
        padding: 0 100px;
    }
    .owner__title {
        font-size: 25px;
        line-height: 43px;
    }
    .owner__text {
        font-size: 18px;
        line-height: 21px;
    }
    .owner__image {
        height: 450px;
    }
}
@media screen and (max-width: 850px) {
    .owner__image {
        height: 350px;
    }
}
@media screen and (max-width: 768px) {
    .owner {
        padding: 0 75px;
    }
}
@media screen and (max-width: 680px) {
    .owner__image {
        right: -75px;
    }
}

@media screen and (max-width: 640px) {
    .owner {
        padding: 0 50px;
    }
    .owner__title {
        font-size: 20px;
        line-height: 33px;
    }
    .owner__text {
        font-size: 13px;
        line-height: 16px;
        max-width: 300px;
    }
}
@media screen and (max-width: 480px) {
    .owner {
        padding: 0 10px;
    }
    .owner__text {
        max-width: 220px;
    }
}

/*Conditions*/
.conditions {
    padding: 0 138px;
}
.conditions__title {
    color: #030303;
    font-family: "Vollkorn", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 56px;
    margin: 45px auto 20px;
    max-width: 775px;
    text-align: center;
}
.conditions__image {
    display: none;
}
.conditions__inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0;
}
.conditions__text-wrapper {
    padding-right: 50px;
}
.conditions__sub-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
}
.conditions__text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    max-width: 476px;
}
.conditions__text--color-yellow {
    color: #DBAB00;
}
.conditions-attention {
    border: 11px solid #DBAB00;
    margin: 40px auto 37px;
    max-width: 875px;
}
.conditions-attention__text {
    color: #A70B0B;
    font-family: "Vollkorn", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}
@media screen and (max-width: 1170px) {
    .conditions__title {
        margin: 45px auto 20px;
        max-width: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .conditions {
        padding: 0 100px;
    }
    .conditions__title {
        font-size: 30px;
        line-height: 46px;
        max-width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .conditions {
        padding: 0 75px;
    }
    .conditions__title {
        font-size: 30px;
        line-height: 46px;
        max-width: 400px;
    }
    .conditions__text-wrapper {
        padding-right: 0;
    }
}
@media screen and (max-width: 640px)  {
    .conditions__image {
        display: block;
        position: absolute;
        top: -50px;
    }
    .conditions__title {
        font-size: 20px;
        line-height: 32px;
        max-width: 300px;
    }
    .conditions__sub-title {
        font-size: 18px;
        line-height: 26px;
        margin-top: 50px;
    }
    .conditions__text {
        font-size: 15px;
        line-height: 21px;
    }
    .conditions-attention__text {
        font-size: 20px;
        line-height: 32px;
    }
}
@media screen and (max-width: 480px) {
    .conditions {
        padding: 0;
    }
    .conditions__title {
        padding: 0 10px;
    }
    .conditions__inner-wrapper {
        padding: 0 10px;
    }
    .conditions__form-image {
        width: 90%;
    }
}

/*Instruction*/
.instruction {
    background: url(../img/background.png) top center no-repeat;
    background-size: 100% 100%;
    padding: 0 138px 56px;
}
.instruction__title {
    border-bottom: 11px solid #DBAB00;
    color: #FFFFFF;
    max-width: 890px;
    font-family: "Vollkorn", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    margin: 0 auto 22px;
    padding: 48px 0 15px;
    text-align: center;
}
.instruction__title-stars {
    color: #FFF;
    font-size: 10px;
    line-height: 13px;
    opacity: 0.5;
    text-align: center;
    vertical-align: top;
}
.instruction__icons {
    display: block;
    margin: 0 auto 25px;
    width: 840px;
}
.steps{
    display: flex;
    justify-content: center;
}
.step {
    display: flex;
}
.step__number {
    color: #DBAB00;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 38px;
    margin: 0 5px 0 0;
}
.steps__icon {
    display: none;
}
.step__text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    max-width: 210px;
}
.steps__texts {
    border: 1px solid #DD9E23;
    color: #FFF;
    display: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    margin: 10px 10px 0;
    padding: 10px 20px;
    text-align: center;
}
.instruction__text {
    color: #FFF;
    font-family: "Vollkorn", serif;
    font-size: 25px;
    line-height: 31px;
    margin: 55px auto 40px;
    max-width: 918px;
    text-align: center;
}
.instruction-attention {
    background-color: #F5E586;;
    border: 11px solid #DBAB00;
    padding: 10px 100px 20px;
}
.instruction-attention__text {
    color: #FF0000;
    font-family: "Vollkorn", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}
@media screen and (max-width: 1120px) {
    .instruction__icons {
        display: none;
    }
    .steps {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .step {
        align-items: flex-start;
        margin: 20px 20px 0 0;
    }
    .step__number {
        display: none;
    }
    .steps__icon {
        display: block;
        margin: 0 5px 0 0;
    }
    .step__text {
        max-width: 230px;
    }
}
@media screen and (max-width: 1024px) {
    .instruction {
        padding: 0 100px 56px;
    }
    .instruction-attention {
        padding: 10px 60px 20px;
    }
}
@media screen and (max-width: 910px) {
    .steps {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .instruction-attention {
        padding: 10px 50px 20px;
    }
}
@media screen and (max-width: 768px) {
    .instruction {
        padding: 0 75px 56px;
    }
    .instruction__title {
        font-size: 30px;
        line-height: 40px;
    }
    .instruction__text {
        font-size: 20x;
        line-height: 25px;
    }
    .instruction-attention__text {
        font-size: 30px;
        line-height: 35px;
    }
}
@media screen and (max-width: 640px) {
    .instruction {
        padding: 0 50px 56px;
    }
}
@media screen and (max-width: 480px) {
    .instruction {
        padding: 0 0 56px;
    }
    .instruction__title {
        font-size: 22px;
        line-height: 26px;
        max-width: 270px;
        padding: 48px 10px 15px;
    }
    .steps{
        padding: 0 10px;
    }
    .steps__texts {
        display: block;
    }
    .instruction__text {
        display: none;
    }
    .instruction-attention {
        margin-top: 20px;
    }
    .instruction-attention__text {
        font-size: 20px;
        line-height: 25px;
    }
}

/*Form*/
.form__outer-weapper {
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    margin: 70px auto 35px;
    max-width: 878px;
    padding: 20px;
}
.form {
    border: 5px solid #DBAB00;
    padding: 20px 60px 15px 80px;
}
.form__title {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: bold;
    line-height: 46px;
    margin: 0 0 25px;
    text-align: center;
}
.form__item {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    max-width: 600px;
}
label[for="gray"] {
    opacity: 0.5;
}
#gray:checked ~ label[for="gray"] {
    opacity: 1;
}
.form__inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.form__inner-wrapper--flex-space {
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 25px;
}
.form__sub-title {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin: 15px 0 10px;
    max-width: 315px;
}
.form__sub-item {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    margin: 0 20px 0 0;
    max-width: 200px;
}
.form__sub-wrapper {
    max-width: 310px;
}
.form__input {
    border: 2px solid #E2C765;
    display: block;
    padding: 14px 30px 14px;
    transition: .2s;
}
.form__input--size-big{
    width: 595px;
}
.form__input:hover {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*Select*/
.select {
    background-color: #FFF;
    border: 2px solid #E2C765;
    display: block;
    padding: 14px 30px 14px;
    width: 241px;
}
.select:hover {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}
.blank__button {
    background: #A70B0B;
    border: none;
    box-shadow: 0px 0px 15px #DD9E23;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 0 auto 40px;
    padding: 24px 75px;
    text-decoration: none;
    transition: 0.3s;
}
.blank__button:hover {
    background: rgb(206, 15, 15);
}
.blank__button:active {
    background: rgb(117, 9, 9);
}
@media screen and (max-width: 1024px) {
    .form__input--size-big{
        width: auto;
    }
}
@media screen and (max-width: 950px) {
    .form__outer-weapper {
        box-shadow: none;
        padding: 0;
    }
}
@media screen and (max-width: 768px) {
    .form {
        border: 5px solid #DBAB00;
        padding: 20px 40px 15px 40px;
    }
    .form__title {
        font-size: 30px;
        line-height: 35px;
    }
}
@media screen and (max-width: 480px) {
    .form {
        border: 5px solid #DBAB00;
        padding: 20px 20px 15px 20px;
    }
    .form__title {
        font-size: 22px;
        line-height: 23px;
    }
    .form__sub-title {
        font-size: 14px;
        line-height: 18px;
    }
    .form__item {
        font-size: 14px;
        line-height: 18px;
    }
}

/*Footer*/
.footer {
    background: url(../img/background.png) top center no-repeat;
    background-size: 100% 100%;
    height: 500px;
    padding: 200px 138px 0;
}
.footer__text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
}