/*Normalize*/
html {
    box-sizing: border-box;
    line-height: 1.15;
}
body {
    background-color: #EEE;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/*Header*/
.header {
    padding: 30px 0;
}
.header__title {
    color: #111;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

/*Main*/
.main {
    display: flex;
    justify-content: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__item {
    margin: 10px;
    position: relative;
}
.gallery__image {
    border-radius: 10px;
    display: block;
    height: 320px;
    object-fit: cover;
    width: 320px;
}
.gallery__wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: none;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
}
.gallery__item:hover .gallery__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}
.button {
    background-color: #DDD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    outline: none;
    padding: 10px;
    transition: 0.3s;
}
.button:hover {
    background-color: #FFF;
}
.button:active {
    background-color: #BBB;
}
.icon {
    background-color: transparent;
    display: block;
    height: 25px;
    width: 25px;
}
.modal {
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.modal__content {
    animation-duration: 0.3s;
    animation-name: zoom;

    background-color: #FFF;
    position: relative;
    width: 500px;
}
.modal__image {
    display: block;
    height: 100%;
    width: 100%;
}
.modal__close-button {
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@media screen and (max-width: 500px) {
    .modal__content {
        width: 100%;
    }
}
@media screen and (max-width: 350px) {
    .gallery__item {
        margin: 10px 0;
    }
    .gallery__image {
        border-radius: 0;
    }
    .gallery__wrapper {
        border-radius: 0;
    }
}