body {
    margin: 0;
    padding: 0;
}
.mainmenu {
    background-color: blueviolet;
    box-shadow: 0 0 6px 6px rgb(226, 226, 226);
}
.mainmenu ul {
    margin: 17px auto;
    overflow: hidden;
    width: 900px;
}
.mainmenu ul li {
    float: left;
    list-style-type: none;
}
.mainmenu ul li.more {
    float: right;
}
.mainmenu ul li a {
    padding: 0px 15px;
    display: block;
    color: white;
    font-family: 'Economica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}
.mainmenu ul li a:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(160, 160, 160);
}