/*NORMALIZE*/
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.main {
  display: block;
}
.page {
  margin: 0;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
  padding: 0 15px;
}
/*HEADER*/
.menu__button {
  display: none;
}