/*Normalize*/
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.main {
  background-color: #F9F9F9;
  display: block;
  height: 150vh;
}
.page {
  margin: 0;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
  padding: 0 15px;
}
/*Header*/
.menu {
  /* background-color: #2E2E2E; */
  position: fixed;
  width: 100%;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
}
.menu__logo {
  background-image: url("../images/logo.svg");
  background-position: 7px;
  background-repeat: no-repeat;
  background-size: 80px 16px;
  height: 50px;
  padding: 25px 47px;
}
.menu__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu__link {
  color: #002A51;
  display: block;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 16px 10px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}
.menu__link:hover {
  background-color: rgba(0, 42, 81, 0.05);
}
.menu__button {
  display: none;
}
.menu__background {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  transition-duration: 200ms;
  transition-property: background-color, visibility;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  visibility: hidden;
}
@media (max-width: 768px) {
  .menu {
    background-color: #FFF;
    /* position: fixed;
    width: 100%; */
  }
  .menu__list {
    align-items: flex-end;
    background-color: #FFF;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: -160px;
    top: 0px;
    transition: right 0.2s ease-in-out;
  }
  .menu__list--opened {
    right: 0;
  }
  .menu__link {
    color: #000;
    min-width: 160px;
    text-align: center;
    transition: background-color 0s ease-in-out;
  }
  .menu__link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .menu__button {
    background-image: url("../images/menu-button-closed.svg");
    background-position: 10px;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 50px;
  }
  .menu__button--opened {
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("../images/menu-button-opened.svg");
  }
  .menu__background--visible {
    background-color: rgba(0, 0, 0, 0.6);
    visibility: visible;
  }
}