/*Основной блок*/
.testimonials {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url(background.png);
    background-size: 100%;
    padding: 30px 160px;
}
/*Титульный заголовок*/
.testimonials__title {
    color: #3170a8;
    font-size: 30px;
    text-align: center;
    padding: 0 0 30px;
}
.testimonials__title_color {
    color: #ee8129;
}
/*Блоки с отзывами*/
.testimonial {
    display: inline-block;
    margin: 0 0px 10px;
    vertical-align: top;
    width: 500px;
    
    
}
/*Фото пользователя*/
.testimonial__image {
    margin-right: 26px;
    float: left;
}
/*Блок первый*/
.testimonial__field::before {
    content: ''; 
    position: absolute;
    top: 30px;
    left: -37px;
    border: 22px solid transparent;
    border-right: 15px solid white;
}
.testimonial__field {
    background-color: white;
    display: inline-block;
    position: relative;
    width: 362px;
}
.testimonial__header {
    color: #666666;
    border-bottom: 1px dashed;
    margin: 13px;
    overflow: hidden;
    padding: 0 0 9px;
}
.testimonial__user::before {
    content: '- ';
}
.testimonial__user {
    color: #3070a8;
    font-size: 13px;
    font-style: italic;
    float: left;
    margin-left: 14px;
    max-width: 150px;
    text-decoration: none;
}
.testimonial__status {
    color: #3070a8;
    font-size: 13px;
    font-style: italic;
    float: right;
    margin-right: 21px;
    max-width: 150px;
    text-decoration: none;
}
.testimonial__text {
    color: #666666;
    font-size: 13px;
    margin: 0 13px 7px;
}