/*Normalize*/
html {
    box-sizing: border-box;
    line-height: 1.15;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/*Header*/
.header {
    position: fixed;
    width: 100%;
}
.header__inner-wrapper {
    align-items: center;
    background-color: #FFF;
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 200px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.header__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 0;
}
.header__line {
    background-color: #000;
    display: block;
    height: 4px;
    margin: 2px 0 4px;
    transition: 0.4s;
    width: 30px;
}
.header__button--active .header__line--position-top {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.header__button--active .header__line--position-middle {
    opacity: 0;
}
.header__button--active .header__line--position-bottom {
    transform: rotate(45deg) translate(-5px, -6px);
}
.menu {
    margin: 0;
    padding: 0;
}
.menu__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__item {
    align-items: center;
    display: flex;
    height: 64px;
    margin-right: 25px;
    text-transform: uppercase;
}
.menu__link {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap;

}
.menu__link:hover {
    border-color: initial;
    color: #2F7BED;
    padding: 19px 0;
}
.header__link {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap;
}
.header__link:hover {
    border-color: initial;
    color: #2F7BED;
    padding: 19px 0;
}
@media only screen and (max-width: 1366px) {
    .header__inner-wrapper {
        padding: 0 55px;
    }
    .menu__item {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .header__inner-wrapper {
        height: 64px;
    }
    .header__button {
        display: block;
    }
    .menu {
        background-color: #777;
        height: 100vh;
        left: 0;
        position: absolute;
        top: 65px;
        transform: translateX(-100%);
        width: 100%;
    }
    .header__menu--active {
        transition: 0.3s; 
        transform: translateX(0%);
    }
    .menu__list {
        flex-direction: column;
        padding: 60px 0 0 60px;
    }
    .menu__link {
        color: #FFF;
        
    }
    .menu__link:hover {
        color: #FFF;
        border-color: #2F7BED;
    }
    .header__link {
        color: #000;
    }
    .header__link:hover {
        color: #000;
        border-color: #FFF;
    }
}
@media only screen and (max-width: 768px) {
    .header__inner-wrapper {
        padding: 0 20px;
    }
    .menu__list {
        padding: 20px 0 0 20px ;
    }
}

/*Banner*/
.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 160px 200px 175px;
}
.banner__logo {
    margin-bottom: 70px;
    width: 400px;
}
.banner__title {
    color: #2F7BED;
    font-size: 75px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: pre-line;
}
.banner__title--width-light {
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    max-width: 700px;
}
@media only screen and (max-width: 1366px) {
    .banner {
        padding: 150px 55px 100px;
    }
    .banner__logo {
        width: 300px;
        margin-bottom: 50px;
    }
    .banner__title {
        font-size: 60px;
    }
    .banner__title--width-light {
        font-size: 35px;
    }
}
@media only screen and (max-width: 1024px) {
    .banner {
        padding: 130px 55px 100px;
    }
    .banner__logo {
        margin-bottom: 40px;
        width: 250px;
    }
    .banner__title {
        font-size: 50px;
    }
    .banner__title--width-light {
        font-size: 25px;
    }
}
@media only screen and (max-width: 768px) {
    .banner {
        padding: 90px 20px;
    }
    .banner__logo {
        margin-bottom: 30px;
        width: 200px;
    }
    .banner__title {
        font-size: 37px;
    }
    .banner__title--width-light {
        font-size: 23px;
    }
}

/*Satellite Television*/
.satellite-tv {
    background-color: #2F7BED;
    background-image: linear-gradient(-60deg, #00973A 0%, #1E3C96 100%);
    padding: 70px 200px 100px;
}
.satellite-tv__title {
    color: #FFF;
    font-size: 50px;
    margin: 0;
    text-align: center;
}
.satellite-tv__inner-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.tricolor {
    align-items: center;
    background-color: #FFF;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 375px;
}
.tricolor__logo {
    width: 200px;
}
.tricolor__title {
    color: #1E3C96;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
}
.tricolor__sub-title {
    color: #1E3C96;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.tricolor__list {
    align-self: start;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}
.tricolor__item {
    font-size: 16px;
    font-weight: 300;
}
.tricolor__sub-title--font-big {
    font-weight: 900;
}
.tricolor__text--color-grey {
    color: #777;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    text-decoration: line-through;
}
.tricolor__text--color-blue {
    color: #1E3C96;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
}
.tricolor__text--color-light {
    color: #777;
    font-size: 16px;
    font-weight: 400;
}
.tricolor__button {
    background-color: #ED2F2F;
    border: none;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    font-size: 16pt;
    margin: 10px 0;
    outline: none;
    padding: 18px 32px;
    transition: 0.3s;
}
.tricolor__button:hover {
    background-color: #FE3F3F;
}
.tricolor__button:active {
    background-color: #DC1E1E;
}
.ntv {
    align-items: center;
    background-color: #FFF;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 375px;
}
.ntv__logo {
    width: 200px;
}
.ntv__title {
    color: #00973A;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
}
.ntv__sub-title {
    color: #00973A;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.ntv__list {
    align-self: start;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}
.ntv__item {
    font-size: 16px;
    font-weight: 300;
}
.ntv__sub-title--font-big {
    font-weight: 900;
}
.ntv__text--color-grey {
    color: #777;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    text-decoration: line-through;
}
.ntv__text--color-blue {
    color: #00973A;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
}
.ntv__text--color-light {
    color: #777;
    font-size: 16px;
    font-weight: 400;
}
.ntv__button {
    background-color: #ED2F2F;
    border: none;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    font-size: 16pt;
    margin: 10px 0;
    outline: none;
    padding: 18px 32px;
    transition: 0.3s;
}
.ntv__button:hover {
    background-color: #FE3F3F;
}
.ntv__button:active {
    background-color: #DC1E1E;
}
@media only screen and (max-width: 1366px) {
    .satellite-tv {
        padding: 50px 55px 80px;
    }
    .satellite-tv__inner-wrapper {
        margin-top: 75px;
    }
}
@media only screen and (max-width: 1024px) {
    .satellite-tv__inner-wrapper {
        margin-top: 50px;
    }
    .satellite-tv__title {
        font-size: 40px;
    }
    .tricolor {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .satellite-tv {
        padding: 40px 0px 40px;
    }
    .satellite-tv__inner-wrapper {
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .satellite-tv__title {
        font-size: 37px;
    }
    .tricolor {
        border: none;
        border-radius: 0px;
        margin: 10px 0;
        padding: 20px 0;
        width: 100%;
    }
    .tricolor__title {
        font-size: 19px;
    }
    .tricolor__sub-title {
        font-size: 17px;
    }
    .tricolor__item {
        margin-left: 20px;
    }
    .tricolor__sub-title--font-big {
        margin: 10px;
    }
    .ntv {
        border: none;
        border-radius: 0px;
        margin: 10px 0;
        padding: 20px 0;
        width: 100%;
    }
    .ntv__title {
        font-size: 19px;
    }
    .ntv__sub-title {
        font-size: 17px;
    }
    .ntv__item {
        margin-left: 20px;
    }
    .ntv__sub-title--font-big {
        margin: 10px;
    }
}

/*Digital television*/
.digital-tv {
    background-image: linear-gradient(-60deg, #FFF 0%, #EEE 100%);
    padding: 70px 200px 100px;
}
.digital-tv__title {
    color: #2F7BED;
    font-size: 50px;
    margin: 0;
    text-align: center;
}
.digital-tv__inner-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.dtv {
    align-items: center;
    background-color: #FFF;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 375px;
}
.dtv__logo {
    width: 200px;
}
.dtv__title {
    color: #2F7BED;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
}
.dtv__sub-title {
    color: #2F7BED;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.dtv__list {
    align-self: start;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}
.dtv__item {
    font-size: 16px;
    font-weight: 300;
}
.dtv__sub-title--font-big {
    font-weight: 900;
}
.dtv__text--color-grey {
    color: #777;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    text-decoration: line-through;
}
.dtv__text--color-blue {
    color: #2F7BED;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
}
.dtv__text--color-light {
    color: #777;
    font-size: 16px;
    font-weight: 400;
}
.dtv__button {
    background-color: #ED2F2F;
    border: none;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    font-size: 16pt;
    margin: 10px 0;
    outline: none;
    padding: 18px 32px;
    transition: 0.3s;
}
.dtv__button:hover {
    background-color: #FE3F3F;
}
.dtv__button:active {
    background-color: #DC1E1E;
}
@media only screen and (max-width: 1366px) {
    .digital-tv {
        padding: 50px 55px 80px;
    }
    .digital-tv__inner-wrapper {
        margin-top: 75px;
    }
}
@media only screen and (max-width: 1024px) {
    .digital-tv__inner-wrapper {
        margin-top: 50px;
    }
    .digital-tv__title {
        font-size: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .digital-tv {
        padding: 40px 0px 40px;
    }
    .digital-tv__inner-wrapper {
        margin-top: 40px;
    }
    .digital-tv__title {
        font-size: 37px;
    }
    .dtv {
        border: none;
        border-radius: 0px;
        margin: 10px 0;
        padding: 20px 0;
        width: 100%;
    }
    .dtv__title {
        font-size: 19px;
    }
    .dtv__sub-title {
        font-size: 17px;
    }
    .dtv__item {
        margin-left: 20px;
    }
    .dtv__sub-title--font-big {
        margin: 10px;
    }
}

/*Service*/
.service {
    align-items: center;
    background-image: linear-gradient(-60deg, #2F7BED 0%, #0D59CB 100%);
    display: flex;
    flex-direction: column;
    padding: 70px 200px 100px;
}
.service__title {
    color: #FFF;
    font-size: 50px;
    margin: 0;
    text-align: center;
}
.service__symbol {
    color: #FFF;
    font-size: 70px;
    border: 10px solid #FFF;
    border-radius: 100%;
    font-weight: 900;
    margin: 30px 0;
}
.service__symbol--question-mark {
    padding: 20px 40px;
}
.service__symbol--exclamation-mark {
    padding: 20px 50px;
}
.service__symbol--phone-mark {
    padding: 20px;
}
.service__text {
    color: #FFF;
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}
.service__text--weidth-bold {
    font-weight: 700;
}
.service__button {
    background-color: #ED2F2F;
    border: none;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    font-size: 16pt;
    margin: 20px 0 10px;
    outline: none;
    padding: 18px 32px;
    transition: 0.3s;
}
.service__button:hover {
    background-color: #FE3F3F;
}
.service__button:active {
    background-color: #DC1E1E;
}
@media only screen and (max-width: 1366px) {
    .service {
        padding: 50px 55px 80px;
    }
    .service__text {
        font-size: 30px;
    }
}
@media only screen and (max-width: 1024px) {
    .service__title {
        font-size: 40px;
    }
    .service__text {
        font-size: 25px;
    }
    .service__symbol {
        color: #FFF;
        font-size: 50px;
        border: 10px solid #FFF;
        border-radius: 100%;
        font-weight: 900;
        margin: 30px 0;
    }
    .service__symbol--question-mark {
        padding: 20px 35px;
    }
    .service__symbol--exclamation-mark {
        padding: 20px 42px;
    }
    .service__symbol--phone-mark {
        padding: 20px 23px;
    }
}
@media only screen and (max-width: 768px) {
    .service {
        padding: 40px 20px 40px;
    }
    .service__title {
        font-size: 37px;
    }
    .service__text {
        font-size: 20px;
    }

}

/*Footer*/
.footer {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 70px 200px 50px;
}
.contacts__title {
    color: #555;
    font-weight: 700;
    margin: 0 0 10px;
}
.contacts__text {
    color: #777;
    margin: 0 0 10px;
}
.city-area {
    width: 500px;
}
.city-area__title {
    color: #555;
    font-weight: 700;
    margin: 0 0 10px;
}
.city-area__text{
    color: #777;
    margin: 0 0 10px;
}
@media only screen and (max-width: 1366px) {
    .footer {
        padding: 50px 55px 50px;
    }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
    .footer {
        padding: 40px 20px 40px;
    }
    .city-area {
        display: none;
    }
}