/*Обёртка*/
.wrapper {
    margin: auto;
    width: 1000px;
}
/*Блок поиска*/
.search {
    background-color: #fc6;
    height: 54px;
    position: relative;
    width: 1000px;
}
.search::after {
    border: 27px solid transparent;
    border-left-color: #fc6;
    border-right: 0;
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
}
/*Поле текста (инпут)*/
.search__input {
    margin: 5px 0 5px 4px;
    width: 92%;
}