/*Обёртка*/
.wrapper {
    margin: auto;
    width: 1000px;
}
/*Блок поиска*/
.search {
    background: linear-gradient(to top left, #d5aa46, #ffcb59);
    height: 54px;
    margin-right: 50px;
    position: relative;
    width: 1020px;
}
/*Треугольник*/
.search__flags::before {
    content: "";
    display: inline-block;
    border: 27px solid transparent;
    border-color: white;
    border-right: 0;
    border-left-color: transparent;
    position: absolute;
    left: 993px;
    top: 0;
}
/*Поле текста (инпут)*/
.search__input {
    margin: 5px 0 5px 4px;
    width: 90%;
}