.header {
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}
.header__logo {
    display: block;
    height: 100%;
    color: #1c89c8;
    font-size: 36px;
    font-weight: bold;
    margin: 23px 20px 0 0;
    min-width: 228px;
    text-decoration: none;
}
.menu {
    margin: 38px 0 25px 0;
    width: 440px;
}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__link {
    color: #1c89c8;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
}
.menu__link:hover {
    color: #b71234;
}
.menu__link:active {
    color: red;
}
.button {
    border-radius: 5px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    /*height: 100%;*/
    margin: 18px 0 19px 20px;
    width: 155px;
    padding: 16px 0 13px 23px;
    text-decoration: none;
    background: linear-gradient(#209bd1, #1877c0);
    color: #fff;
}
.button:hover {
    background: linear-gradient(#d12020, #c01818);
}
.button:active {
    background: linear-gradient(#af1a1a, #971212);
}

.banner {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/banner.png) 100% 0 no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 522px;
    width: 100%;
}
.banner__inner {
    max-width: 1100px;
    margin: auto;
}
.banner__title {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    width: 460px;
}
.banner__text {
    font-size: 20px;
    width: 460px;
}
@media screen and (max-width: 900px) {
    .header {
        display: flex;
        justify-content: center;
    }
    .header__logo {
        margin: 23px 20px 0px 0;
    }
    .banner {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    .header {
        background-color: #b71234;
    }
    .menu {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        width: 160px;
        
    }
    .menu__link {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    .banner {
        display: flex;
        justify-content: center;
    }
    .banner__button {
        margin: 0;
    }
}