body {
    min-width: 375px;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

/*Header*/
.header {
    /*outline: 1px solid #000;*/
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}
.header__logo {
    color: #1c89c8;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    margin: 23px 0 13px;
    text-decoration: none;
}
.menu {
    margin: 38px 20px 25px 20px;
    width: 440px;
}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__link {
    color: #1c89c8;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
}
.menu__link:hover {
    color: #b71234;
}
.menu__link:active {
    color: #f00;
}
.button {
    background: linear-gradient(#209bd1, #1877c0);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 22px;
    text-decoration: none;
}
.button:hover {
    background: none;
    background-color: #b71234;
}
.button:active {
    background-color: #971212;
    transition: 0.4s;
}
.header__button {
    margin: 18px 0;
}

@media screen and (max-width: 1120px) {
    .header__logo {
        margin-left: 10px;
    }
    .header__button {
        margin-right: 10px;
    }
}
@media screen and (max-width: 924px) {
    .menu {
        margin: auto;
        margin-bottom: 25px;
        order: 1;
    }
    .header__button {
        margin-left: 50px;
    }
}
@media screen and (max-width: 500px) {
    .header {
        justify-content: center;
    }
    .header__logo {
        margin-left: 0;
    }
    .menu {
        display: flex;
        justify-content: center;
        margin: 0;
        order: 0;
        width: 320px;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        width: 160px;
    }
    .menu__link {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    .header__button {
        margin-left: 0;
        margin-right: 0;
    }
}

/*Banner*/
.banner {
    /*outline: 1px solid #00f;*/
    background-attachment: fixed;
    background-image: url(../img/banner.jpg);
    height: 512px;
    width: 100%;
}
.banner__inner {
    /*outline: 1px solid #ff0;*/
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 69px;
}
.banner__title {
    /*outline: 1px solid #f00;*/
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    max-width: 401px;
}
.banner__icon {
    vertical-align: middle;
}
.banner__text {
    /*outline: 1px solid #f0f;*/
    font-size: 20px;
    margin: 0;
    max-width: 425px;
}
.banner__button {
    margin-top: 34px;
}
@media screen and (max-width: 1120px) {
    .banner__inner {
        margin-left: 10px;
    }
}
@media screen and (max-width: 924px) {
    .banner__inner {
        margin-left: 30px;
    }
}
@media screen and (max-width: 500px) {
    .banner {
        background-attachment: inherit;
    }
    .banner__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    .banner__title {
        font-size: 57px;
        margin: 0 auto 40px;
        max-width: 320px;
    }
    .banner__icon {
        height: 58px;
        width: 58px;
    }
    .banner__text{
        text-align: center;
    }
    .banner__button {
        margin: 64px auto 0;
    }
}

/*Suggestions*/
.suggestions-form {
    outline: 1px solid #000;
    font-family: 'Montserrat', sans-serif;
}
.suggestion-form__title{
    font-size: 36px;
    font-weight: 700px;
    margin: 0;
    text-align: center;
}